*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fira Sans;
   
}
.body{
    background-color: #f5f5f5;
}

/* Navber start */
.navber{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 160px;
    margin: 0 160px 20px 160px;
    height: 100px;
}
.navber-title{
    font-size: 32px;
    font-weight: bold;
    color:#0E0E0E;
    
}
.navber-btn{
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 106, 80);
    border: 1px solid rgb(0, 106, 80);
    background-color: #f5f5f5;

}
.navber-btn:hover{
    background-color: red;
   color: white;
   border: none;
}
/* Navber close */
/* Banner section start */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1280px;
    height: 560px;
    margin: 0 auto;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 100px 60px;
    margin-bottom: 80px;
}

.banner-description-sub-title{
color: rgba(14, 14, 14, 0.5);
font-size: 24px;
font-weight: 500;
margin-bottom: 16px;

}
.banner-description-title{
color: rgb(14, 14, 14);
font-size: 56px;
font-weight: bold;
margin-bottom: 24px;
width: 622px;
height: 201px;
}
.banner-description-btn{
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background-color: #006A50;
    color: #ffff;
    font-size: 18px;
    font-weight: 600;
    border: none;

}
.banner-description-btn:hover{
    background-color: red;
}
.banner-image{
    margin: 80px 60px 80px 64px;
}
/* Banner section close */


/* The-Vision-of-Future section start */
.vision-card{
    display: flex;
    gap: 24px;
   
    
}
.vision-section{
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 32px;
}
.The-Vision-of-Future-title{
color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
margin-bottom: 24px;
}
.The-Vision-of-Future-sub-title{
color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-bottom: 32px;
}
/* card-1 start */
.card-1{
width: 410px;
height: 325px;
padding: 32px;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
}
.card-img{
    width: 62px;
    height: 62px;
    margin-bottom: 24px;
   
}
.card-title{
color: rgba(14, 14, 14, 0.8);
font-size: 20px;
font-weight: 700;
margin-bottom: 12px;
}
.card-sub-title{
color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
margin-bottom: 24px;
}
.card-btn{
padding: 11px 20px 11px 20px;
border-radius: 8px;
background: rgb(84, 144, 245);
border: none;
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
}
.card-btn:hover{
    background-color: #0e006a;
}

/* card-1 close */

/* card-2 start */
.card-2{
    width: 410px;
    height: 325px;
    padding: 32px;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    }
    .card-img-2{
        width: 62px;
        height: 62px;
        margin-bottom: 24px;
       
    }
    .card-title-2{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
    }
    .card-sub-title-2{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
    }
    .card-btn-2{
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    border: none;
    color: rgb(255, 255, 255);
    background: rgb(9, 161, 92);
    font-size: 16px;
    font-weight: 600;
    }
    .card-btn-2:hover{
        background-color: #0e006a;
    }
    /* card-2 close */
    /* card-3 start */
    .card-3{
        width: 410px;
        height: 325px;
        padding:  32px 10px 32px 32px;
        border-radius: 16px;
        background: rgb(247, 235, 207);
        }
        .card-img-3{
            width: 62px;
            height: 62px;
            margin-bottom: 24px;
           
        }
        .card-title-3{
        color: rgba(14, 14, 14, 0.8);
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 12px;
        }
        .card-sub-title-3{
            color: rgba(14, 14, 14, 0.7);
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 52px;
        }
        .card-btn-3{
        padding: 11px 20px 11px 20px;
        border-radius: 8px;
        background: rgb(255, 194, 57);
        border: none;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 600;
        }
        .card-btn-3:hover{
            background-color: #0e006a;
        }
        /* card-3 close */
/* The-Vision-of-Future section close */
/* Quote-Section start */
.Quote-Section{
    width: 1280px;
    height: 256px;
    padding: 24px 24px 48px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background:#fff;
    margin: 0 auto;
    margin-bottom: 80px;
}
.quote-mark{
    background-image: url("image/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top left;
    width: 200px;
    height: 200px;
    position: absolute
}
.Quote-Section-speach{
color: rgba(14, 14, 14, 0.8);
font-size: 16px;
font-weight: 400;
line-height: 24px;
padding-top: 28px;
padding-bottom: 12px;
}
.Quote-Section-title{
color: rgba(14, 14, 14, 0.8);
font-size: 20px;
font-weight: 600;
margin-bottom: 4px;
}
.Quote-Section-sub-title{
color: rgba(14, 14, 14, 0.6);
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
/* Quote-Section close */